* {
    margin: 0;
    padding: 0;
}
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.modern-gradient {
    background-image: 
      radial-gradient(
        farthest-corner circle at 100% 0% in oklab,
        oklch(80% .4 222) 0%, oklch(35% .5 313) 100%
      )
    ;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.head {
    margin-bottom: 15px;
}
.form {
    margin-left: 50px;
    margin-right: 50px;
}